<tr data-title="bootstrap table">
	<td>
		{% if program.state %}{{ program.state }}{% endif %}
	</td>
	<td>
		<span style="display:none">{{ program.name }}</span><a href="{{ url_for('main.program', program_id=program.id) }}">
			{{ program.name }}
		</a>
	</td>
	<td>
		{% for postiv_communication in program.postiv_communications %}
		<blockquote><a href="{{ url_for('main.user', username=postiv_communication.author.username) }}">
				{{ postiv_communication.author.username }}
			</a> received a {% if postiv_communication.personalized %}personalized{% else %}generic{% endif %} {{ postiv_communication.type_of_communication}} {% if postiv_communication.date_of_communication %}on {{ postiv_communication.date_of_communication.strftime('%m/%d/%y') }}{% endif %} with: {{ postiv_communication.content }}</blockquote>
		{% endfor %}
	</td>
</tr>
