<tr data-title="bootstrap table">
	<td>
		{{ program.state }}
	</td>
	<td>
		<a href="{{ url_for('main.program', name ='') }}{{ program.name }}">
			{{ program.name }}
		</a>
	</td>
	<td>
		{{ program.specialty }}
	</td>
	<td>
		{% for interview in program.get_latest_interviews() %}
		{% if interview.date %}<span class="btn btn-primary btn-sm">{{ interview.date.strftime('%m/%d/%y') }}</span>{% endif %}
		{% endfor %}
	</td>
	<td>
		{% for interview_date in program.get_latest_interview_dates() %}
		{% if interview_date.full %}
		<span class="btn btn-danger btn-sm">{{ interview_date.date.strftime('%m/%d/%y') }}</span> 
		{% else %}
		<span class="btn btn-success btn-sm">{{ interview_date.date.strftime('%m/%d/%y') }}</span> 
		{% endif %}
		{% endfor %}
	</td>

</tr>
