<table class="table table-hover">
	<tr>
		<td width="70px">
			<a href="{{ url_for('main.program', name=program.name) }}">
				<img src="{{ program.image }}" width="70" height="70"/ alt="No image">
			</a>
		</td>
		<td>
			{% set program_link %}
			<span class="program_popup">
				<a href="{{ url_for('main.program', name=program.name) }}">
					{{ program.name }}
				</a>
			</span>
			{% endset %}
			{{ _('%(name)s',
			name=program_link) }}
			<br>
			<span id="program{{ program.id }}">{{ program.body }}</span>
		</td>
		<td>
			Specialty: {{ program.specialty }}
		</td>
		<td>
			Latest invite dates: {% for interview in program.interviews %}
				{{ interview.date }}
			{% endfor %}
		</td>
		<td>
			Latest available/full dates: {% for interview in program.interviews %}
				{{ interview.date }} || {{ interview.unavailable_dates }}
			{% endfor %}
		</td>
	</tr>
</table>