<tr data-title="bootstrap table">
	<td>
		<span style="display:none">{{ program.name }}</span><a href="{{ url_for('main.program', program_id=program.id) }}">
			{{ program.name }}
		</a>
	</td>
	<td>
		{% if program.state %}{{ program.state }}{% endif %}
	</td>
	<td>
		{% if program.city %}{{ program.city }}{% endif %}
	</td>
	<td>
		{% for impression in program.interview_impressions %}
		<blockquote class="{% if impression.name_and_shame %}blockquote2{% endif %}">{{ impression.body }}</blockquote>
		{% endfor %}
	</td>
</tr>
