{% extends "base.html" %}

{% block page_head %}About{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					Created by wavegate
					<p>This app is intended to improve quality of life for people applying for medical residency.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					Resources
					-<a href="https://www.creative-tim.com/product/paper-dashboard">Paper Dashboard Admin Template by Creative Tim</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					To-do list
					-make logo
					-filter function on table
					-more tools
					-anonymous invite data
					-collect data
					-talk to subreddit
					-messages system
					-user edu verification
					-settings (export, import, etc.)
					-google/facebook/linked integration
					-link to github
					-select all programs to follow
					-sortable program dates
					-way to let other people know you are following the program
					-twitter
					-program contact information
					-quick details about programs
					-feedback page
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}