{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <h1>Add Interview Invite for {{ program.name }}</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.date.label }}<br>
                    {{ form.date }}
                </p>
                <p>
                    {{ form.supplemental_required.label }}<br>
                    {{ form.supplemental_required }}
                </p>
                <p>
                    {{ form.method.label }}<br>
                    {{ form.method }}
                </p>
                <label for="mdp">Available Interview Dates</label>
                <input id="mdp" name="dates">
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.multidatespicker.css') }}">
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.multidatespicker.js') }}"></script>
    <script>
    	$(document).ready(function () {
    		$('#mdp').multiDatesPicker();
    	});
    </script>
{% endblock %}