{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-4">
        <h1>Add Interview Invite for {{ program.name }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.date.label(class_="col-form-label") }}<br>
                {{ form.date(class_="form-control datepick") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <div class="form-group collapse" id="collapseTaskForm">
                <p>
                    {{ form.supplemental_required(class_="form-check-input") }} 
                    {{ form.supplemental_required.label(class_="form-check-label") }}
                </p>
                <p>
                    {{ form.method.label(class_="col-form-label") }}<br>
                    {{ form.method(class_="form-control") }}
                </p>
                <p>
                    <label for="mdp" class_="col-form-label">Available Interview Dates</label>
                    <input id="mdp" name="dates" class="form-control" placeholder="Click to add dates">
                </p>
            </div>
            <div class="form-group">
                <input class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseTaskForm" value="Details"></input>
                <p>{{ form.submit(class_="btn-primary form-control") }}</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Add Interview Invite for {{ program.name }}</h5>
                <p class="card-category">Specialty: Psychiatry</p>
            </div>
            <div class="card-body ">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.date.label(class_="col-form-label") }}<br>
                        {{ form.date(class_="form-control datepick") }}
                        {% for error in form.date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group collapse" id="collapseTaskForm">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                {{ form.supplemental_required(class_="custom-control-input") }} 
                                {{ form.supplemental_required.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.method.label(class_="col-form-label") }}<br>
                            {{ form.method(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="mdp" class_="col-form-label">What dates were available?</label>
                            <input id="mdp" name="dates" class="form-control" placeholder="Click to add AVAILABLE dates">
                        </div>
                        <div class="form-group">
                            <label for="mdp2" class_="col-form-label">What dates were full?</label>
                            <input id="mdp2" name="unavailable_dates" class="form-control" placeholder="Click to add FULL dates">
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseTaskForm" value="Details"></input>
                        <p>{{ form.submit(class_="btn-primary form-control") }}</p>
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.multidatespicker.css') }}">
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.multidatespicker.js') }}"></script>
<script>
 $(document).ready(function () {
  $('#mdp').multiDatesPicker();
  $('#mdp2').multiDatesPicker();
});
</script>
{% endblock %}