{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Chat{% endblock %}

{% block sidebar %}
          {% if not current_user.is_anonymous %}
          <li>
            <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
              <i class="nc-icon nc-single-02"></i>
              <p>My Profile</p>
            </a>
          </li>
          {% endif %}
          {% if specialty2 %}
          <li>
            <a href="{{ url_for('main.specialty', id=specialty2) }}">
              <i class="nc-icon nc-bank"></i>
              <p>Interview Invites</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('main.chat', id=specialty2) }}">
              <i class="nc-icon nc-chat-33"></i>
              <p>Chat</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.index') }}">
              <i class="nc-icon nc-minimal-right"></i>
              <p>Change Specialty</p>
            </a>
          </li>
          {% endif %}
          {% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body ">
                	{% if not current_user.is_anonymous %}
                	{% if postform %}
					{{ render_form(postform) }}
					{% endif %}
					{% else %}
					<p>Please log in to chat.</p>
					{% endif %}
                    {% for post in posts %}
					{% include '_post.html' %}
					{% endfor %}
					<nav aria-label="...">
							<ul class="pagination">
								<li class="page-item{% if not prev_url %} disabled{% endif %}">
									<a href="{{ prev_url or '#' }}" class="page-link">
										<span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
									</a>
								</li>
								<li class="page-item{% if not next_url %} disabled{% endif %}">
									<a href="{{ next_url or '#' }}" class="page-link">
										{{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
									</a>
								</li>
							</ul>
						</nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}