{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Interview Impressions{% endblock %}


{% block sidebar %}
{% if not current_user.is_anonymous %}
          <li>
            <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
              <i class="nc-icon nc-single-02"></i>
              <p>My Profile</p>
            </a>
          </li>
          {% endif %}
          {% if specialty2 %}
          <li>
            <a href="{{ url_for('main.specialty', id=specialty2) }}">
              <i class="nc-icon nc-calendar-60"></i>
              <p>Interview Invites</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('main.interview_impressions', id=specialty2) }}">
              <i class="nc-icon nc-tie-bow"></i>
              <p>Interview Impressions</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.chat', id=specialty2) }}">
              <i class="nc-icon nc-chat-33"></i>
              <p>Chat</p>
            </a>
          </li>
           <li>
            <a href="{{ url_for('main.threads', specialty_id=specialty2) }}">
              <i class="nc-icon nc-bank"></i>
              <p>Forum</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.index') }}">
              <i class="nc-icon nc-minimal-right"></i>
              <p>Change Specialty</p>
            </a>
          </li>
          {% endif %}
          {% endblock %}

{% block content %}
<style>
 blockquote:before {
  font-family: 'FontAwesome';
  
  content:"\f10d";
  color: rgba(0,0,0,0.1);
  font-size: 0.8em;
  vertical-align: 0.8em;
}
.blockquote2:before {
   content:"\f12a";
   color: rgba(219,0,0,0.5);
   font-size: 1em;
   vertical-align: 0em;
   margin-right: 1em;
   margin-left: 1em;
}
</style>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <p><i class="fa fa-question-circle"></i> What's This?</p>
          <p>Below you will find data for each individual residency program from the 2020-2021 application cycle:
          <ul><li>Impressions of applicants' interview experience</li></ul>
          <p>Data is extracted from previous Reddit /r/medicalschool spreadsheets as well as supplied by other users of residencymatch.app.</p>
          <p>Please log in and click on the name of the program to add your own interview impressions.</p>
        </div> 
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              {% if current_user.is_anonymous %}
              Please login to add interview data and follow programs.
              {% endif %}
                <!--<table  id="table"></table>-->
                <div class="table">
                    <table id="program_table" class="table" data-toggle="table" data-search="true" data-pagination="true" data-show-columns="true">
                        <thead class="text-primary">
                            <th data-sortable="true" data-field="1">State</th>
                            <th data-sortable="true" data-field="2">Name</th>
                            <th data-sortable="false" data-field="4">Interview Impressions</th>
                        </thead>
                        <tbody>
                            {% for program in programs %}
                            {% include '_program_impression.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-exclamation text-danger" style="margin-right:0.6em"></i>= Name and Shame
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}