{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('Work in Progress') }}</h1>
<ul>
    <li>
        Replace Home page
    </li>
    <li >
        Notify interview dates that are full
    </li>
    <li>
        Import program list
    </li>
    <li>
        Make specialties
    </li>
    <li>
        Links for open house etc.
    </li>
    <li>
        City info
    </li>
    <li>
        Improve CSS
    </li>
    <li>
        Build out messages system
    </li>
    <li>
        Automatically generate images for programs
    </li>
    <li>
        Tools & Utilities
    </li>
</ul>
{% endblock %}