{% extends "base.html" %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-4">
			<div class="card card-user">
				<div class="image" style="border-top-left-radius:12px;border-top-right-radius:12px;">
					<a href="{{ program.imageurl }}" target="_blank"><img src="{{ program.imageurl }}" style="object-fit: cover;margin-top:-100px;"></a>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-center text-center">
						<h5 class="title">{{ program.name }}</h5>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">
								{{ program.specialty.name }}
								<br>{{ program.city }}, {{program.state}}
								<br>
								{% if program.url %}<a href="{{program.url}}" target="_blank">{{ program.url }}</a>{% endif %}
								<br>Accreditation ID: {{ program.accreditation_id }}
								<br>Status: {{ program.status }}
							</p>
								<div class="text-center">
									{% if not current_user.is_anonymous %}
								{% if not current_user.is_following_program(program) %}
								<form action="{{ url_for('main.follow_program', program_id=program.id) }}" method="post">
									{{ form.hidden_tag() }}
									<button type="submit" title="Follow" class="fas fa-user-plus btn btn-success btn-round"></button>
								</form>
								{% else %}
								<form action="{{ url_for('main.unfollow_program', program_id=program.id) }}" method="post">
									{{ form.hidden_tag() }}
									<button type="submit" title="Unfollow" class="fas fa-user-minus btn btn-danger btn-round"></button>
								</form>
								{% endif %}
								{% if current_user.admin == True %}
								<form action="{{ url_for('main.delete_program', program_id=program.id)}}" method="post">
										{{ form.hidden_tag() }}
										{{ form.submit(value=_('Delete'), class_='btn btn-primary')}}
									</form>
									{% endif %}
									{% endif %}
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs">
						<li class="nav-item">
					    	<a href="#general" class="nav-link active" data-toggle="tab">General</a>
					    </li>
						<li class="nav-item">
					    	<a href="#interviews" class="nav-link" data-toggle="tab">Interview Invites</a>
					    </li>
					    <li class="nav-item">
					        <a href="#salary" class="nav-link" data-toggle="tab">Salary</a>
					    </li>
					    <li class="nav-item">
					        <a href="#impressions" class="nav-link" data-toggle="tab">Impressions</a>
					    </li>
					    <li class="nav-item">
					    	<a href="#post-iv" class="nav-link" data-toggle="tab">Post-IV Communications</a>
					    </li>
					</ul>

					<div class="tab-content" style="padding-top:15px">
						<div class="tab-pane fade show active" id="general">
							<ul>
							<li>
								Program type: {% if program.program_type %}{{ program.program_type }}{% endif %}
							</li>
							<li>
								Program director: {% if program.program_director %}{{ program.program_director }}{% endif %}
							</li>
							<li>
								Categorial positions: {% if program.categorical_positions %}{{ program.categorical_positions }}{% endif %}
							</li>
							<li>
								Preliminary positions: {% if program.preliminary_positions %}{{ program.preliminary_positions }}{% endif %}
							</li>
							<li>
								Trauma level: {% if program.trauma_level %}{{ program.trauma_level }}{% endif %}
							</li>
							<li>
								Fellowships: {% if program.fellowships %}{{ program.fellowships }}{% endif %}
							</li>
							<li>
								Research required? {% if program.research_required %}{{ program.research_required }}{% endif %}
							</li>
							<li>
								# weeks vacation: {% if program.weeks_vacation %}{{ program.weeks_vacation }}{% endif %}
							</li>
							<li>
								Call schedule: {% if program.call_schedule %}{{ program.call_schedule }}{% endif %}
							</li>
							<li>
								Social media: {% if program.social_media %}{{ program.social_media }}{% endif %}
							</li>
							<li>
								Step 1 cutoff: {% if program.step_1_cutoff %}{{ program.step_1_cutoff }}{% endif %}
							</li>
							<li>
								LORs required: {% if program.LORs %}{{ program.LORs }}{% endif %}
							</li>
						</ul>
					    </div>
					    <div class="tab-pane fade" id="salary">
					    	{% if program.salary %}
					        <a href="{{ program.salary_url }}" target="_blank">(Check Website)</a>
					        <p>{{ program.salary }}</p>
					        {% else %}
					        <p>No salary information yet.</p>
					        {% endif %}
					    </div>
					    <div class="tab-pane fade" id="impressions">
					    	<form action="" method="post">
						        {% if postform %}
						        {{ postform.hidden_tag() }}
			                    <div class="form-group">
			                        {{ postform.post.label(class_="col-form-label") }}<br>
			                        {{ postform.post(class_="form-control") }}
			                        {{ postform.name_and_shame(class_="") }}
			                        {{ postform.name_and_shame.label(class_="col-form-label") }}<br>
			                        {% for error in postform.post.errors %}
			                        <span style="color: red;">[{{ error }}]</span>
			                        {% endfor %}
			                        {{ postform.submit(class_="btn btn-primary btn-md") }}
			                    </div>
								{% endif %}
							</form>
							<style>
							blockquote:before {
								font-family: 'FontAwesome';

								content:"\f10d";
								color: rgba(0,0,0,0.3);
								font-size: 0.8em;
								vertical-align: 0.8em;
							}
							.blockquote2:before {
								content:"\f12a";
								color: rgba(219,0,0,0.5);
								font-size: 1em;
								vertical-align: 0em;
								margin-right: 1em;
								margin-left: 1em;
							}
						</style>
							{% for impression in program.interview_impressions %}

							<a href="{{ url_for('main.user', username=impression.author.username) }}">
								{{ impression.author.username }}
							</a>
						{{ _('%(username)s said %(when)s',
						username=user_link, when=moment(impression.timestamp).fromNow()) }}
							<blockquote class="{% if impression.name_and_shame %}blockquote2{% endif %}">{{ impression.body }}</blockquote>
							{% endfor %}
							
					    </div>
					    <div class="tab-pane fade" id="post-iv">
					    	<form action="" method="post">
						        {% if postivform %}
						        {{ postivform.hidden_tag() }}
			                    <div class="form-group">
			                        {{ postivform.date.label(class_="col-form-label") }}<br>
			                        {{ postivform.date(class_="form-control") }}
			                        {{ postivform.type_of_communication.label(class_="col-form-label") }}<br>
			                        {{ postivform.type_of_communication(class_="form-control") }}
			                        {{ postivform.content.label(class_="col-form-label") }}<br>
			                        {{ postivform.content(class_="form-control") }}
			                        {{ postivform.personalized(class_="") }}
			                        {{ postivform.personalized.label(class_="col-form-label") }}<br>
			                        {{ postivform.submit(class_="btn btn-primary btn-md") }}
			                    </div>
								{% endif %}
							</form>
							<p>
								{% if not postiv_communications %}There is no data yet.{% endif %}
								{% for postiv_communication in postiv_communications %}
								{% include '_postiv_communication.html' %}
								{% endfor %}
							</p>
					    </div>
					    <div class="tab-pane fade" id="interviews">
							{% for interview in interviews %}
							{% include '_interview.html' %}
							{% else %}
							No data has been uploaded for this program yet.
							{% endfor %}

							{% if not current_user.is_anonymous %}
							<form action="{{ url_for('main.add_interview', program_id=program.id)}}" method="post">
								{{ form.hidden_tag() }}
								{{ form.submit(value=_('Add Interview Invite'), class_='btn btn-primary')}}
							</form>
							{% endif %}

			</div>
					    </div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar.css') }}">
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script>
	$(document).ready(function () {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var myEvents =[
		{% for interview in interviews %}
		{% for interview_date in interview.dates %}
		{
			title: 'Interview',
			start: '{{ interview_date.date.year }}-0{{ interview_date.date.month }}-0{{ interview_date.date.day }}'
		},
		{% endfor %}
		{% endfor %}
		];
		var calendar = $('#divCalendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek ,basicDay'
			},
			buttonText: {
				prev: 'prev',
				next: 'next'
			},
			timeFormat: 'h(:mm)t',
			selectable: true,
			dayClick: function (date, allDay, jsEvent, view) {
				alert(date);
			},
			eventClick: function (calEvent, jsEvent, view) {
				alert('Event: ' + calEvent.title);
			// change the border color just for fun
			$(this).css('border-color', 'red');

		},
		select: function (start, end, allDay) {
			var title = prompt('Event Title:');
			if (title) {
				calendar.fullCalendar('renderEvent', {
					title: title,
					start: start,
					end: end,
					allDay: allDay
				},
				true // make the event "stick"
				);
			}
			calendar.fullCalendar('unselect');
		},
		events: myEvents
	});
	});
</script>
{% endblock %}