{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">{{ program.name }}</h5>
            <p class="card-category">Specialty: Psychiatry</p>
            {% if not current_user.is_following_program(program) %}
               <p>
                <form action="{{ url_for('main.follow_program', name=program.name) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
                </form>
            </p>
            {% else %}
            <p>
                <form action="{{ url_for('main.unfollow_program', name=program.name) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
                </form>
            </p>
            {% endif %}
            {% if current_user.admin == True %}
            <p>
                <form action="{{ url_for('main.delete_program', name=program.name)}}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value=_('Delete'), class_='btn btn-default')}}
                </form>
            </p>
            {% endif %}
            <p>
                <form action="{{ url_for('main.add_interview', name=program.name)}}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value=_('Add Interview Invite'), class_='btn btn-default')}}
                </form>
            </p>
        </div>
        <div class="card-body ">
            {% if program.body %}{{ program.body }}{% endif %}
            <br>
            {% for interview in interviews %}
            {% include '_interview.html' %}
            {% endfor %}
            <p>
                {% if postform %}
                {{ render_form(postform) }}
                {% endif %}
            </p>
            <p>
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}
            </p>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}" class="page-link">
                            <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                        </a>
                    </li>
                    <li class="page-item{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}" class="page-link">
                            {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-footer ">
        </div>
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Calendar</h5>
        <p class="card-category"></p>
    </div>
    <div class="card-body ">
        <div id="divCalendar"></div>
    </div>
    <div class="card-footer ">
    </div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar.css') }}">
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script>
    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var myEvents =[
        {% for interview in interviews %}
        {% for interview_date in interview.dates %}
        {
            title: 'Interview',
            start: '{{ interview_date.date.year }}-0{{ interview_date.date.month }}-0{{ interview_date.date.day }}'
        },
        {% endfor %}
        {% endfor %}
        ];
        var calendar = $('#divCalendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek ,basicDay'
            },
            buttonText: {
                prev: 'prev',
                next: 'next'
            },
            timeFormat: 'h(:mm)t',
            selectable: true,
            dayClick: function (date, allDay, jsEvent, view) {
                alert(date);
            },
            eventClick: function (calEvent, jsEvent, view) {
                alert('Event: ' + calEvent.title);
            // change the border color just for fun
            $(this).css('border-color', 'red');

        },
        select: function (start, end, allDay) {
            var title = prompt('Event Title:');
            if (title) {
                calendar.fullCalendar('renderEvent', {
                    title: title,
                    start: start,
                    end: end,
                    allDay: allDay
                },
                true // make the event "stick"
                );
            }
            calendar.fullCalendar('unselect');
        },
        events: myEvents
    });
    });
</script>
{% endblock %}