{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Interview Invites{% endblock %}

{% block sidebar %}
{% if not current_user.is_anonymous %}
          <li>
            <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
              <i class="nc-icon nc-single-02"></i>
              <p>My Profile</p>
            </a>
          </li>
          {% endif %}
          {% if specialty2 %}
          <li class="active">
            <a href="{{ url_for('main.specialty', id=specialty2) }}">
              <i class="nc-icon nc-calendar-60"></i>
              <p>Interview Invites</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.interview_impressions', id=specialty2) }}">
              <i class="nc-icon nc-tie-bow"></i>
              <p>Interview Impressions</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.chat', id=specialty2) }}">
              <i class="nc-icon nc-chat-33"></i>
              <p>Chat</p>
            </a>
          </li>
           <li>
            <a href="{{ url_for('main.threads', specialty_id=specialty2) }}">
              <i class="nc-icon nc-bank"></i>
              <p>Forum</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.index') }}">
              <i class="nc-icon nc-minimal-right"></i>
              <p>Change Specialty</p>
            </a>
          </li>
          {% endif %}
          {% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <a data-toggle="collapse" href="#whatsthis"><i class="fa fa-question-circle"></i> What's This?</a>
          <div class="collapse" id="whatsthis">
            <p>Below you will find data for each individual residency program from the 2020-2021 application cycle:</p>
            <ul><li>WHEN interview invites were received by applicants</li><li>WHAT interview dates were available for that offer</li></ul>
            <p>Data is extracted from previous Reddit /r/medicalschool spreadsheets as well as supplied by other users of residencymatch.app. Anyone can add their own data, but only moderators can edit or remove anyone's data. This allows information to be organized and relatively immune to trolling. Data created by "Wavegate" means they are added automatically by me from previous spreadsheet data.</p>
            <p> You can log in to add your own interview invite data and follow programs to receive updates on when others receive invites. Click on individual program names to view detailed residency information such as interview impressions, salary, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <div class="chart-legend">
                    <i class="fa fa-circle text-primary"></i>Offered
                    <i class="fa fa-circle text-success"></i>Still available
                    <i class="fa fa-circle text-danger"></i>Full
                </div>
              {% if current_user.is_anonymous %}
              Please login to add interview data and follow programs.
              {% endif %}
                <!--<table  id="table"></table>-->
                <div class="table">
                    <table id="program_table" class="table" data-toggle="table" data-search="true" data-pagination="true" data-show-columns="true" data-mobile-responsive="true">
                        <thead class="text-primary">
                            <th data-sortable="true" data-field="1">Name</th>
                            <th data-sortable="true" data-field="2">State</th>
                            <th data-sortable="true" data-field="3">City</th>
                            <th data-sortable="true" data-field="4">Latest invite dates</th>
                            <th data-sortable="true" data-field="5">Latest interview dates</th>
                            {% if current_user %}
                            <th data-field="6">Functions</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for program in programs %}
                            {% include '_program.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.admin == True %}
{% if form %}
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Add Program</h5>
        <p class="card-category"></p>
    </div>
    <div class="card-body ">
        {{ render_form(form) }}
    </div>
</div>
</div>
</div>
{% endif %}
{% endif %}
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}