{% extends "base.html" %}

{% block page_head %}Programs{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <form>
            <label>Select a year</label>
            <select class="form-select" aria-label="Select year">
              <option selected>2020-2021</option>
            </select>
        </form>
    </div>
    <div class="row">
        <a href="{{ url_for('main.programs', specialty='General Surgery') }}" class="btn btn-primary">General Surgery</a>
        <a href="{{ url_for('main.programs', specialty='Neurology') }}" class="btn btn-primary">Neurology</a>
        <a href="{{ url_for('main.programs', specialty='OB-GYN') }}" class="btn btn-primary">OB-GYN</a>
        <a href="{{ url_for('main.programs', specialty='Ophthalmology') }}" class="btn btn-primary">Ophthalmology</a>
        <a href="{{ url_for('main.programs', specialty='Pediatrics') }}" class="btn btn-primary">Pediatrics</a>
        <a href="{{ url_for('main.programs', specialty='Prelim-TY') }}" class="btn btn-primary">Prelim-TY</a>
        <a href="{{ url_for('main.programs', specialty='Psychiatry') }}" class="btn btn-primary">Psychiatry</a>
    </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}