{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Question / Answer{% endblock %}

{% block sidebar %}
{% if not current_user.is_anonymous %}
<li>
  <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
    <i class="nc-icon nc-single-02"></i>
    <p>My Profile</p>
  </a>
</li>
{% endif %}
{% if specialty2 %}
<li>
  <a href="{{ url_for('main.specialty', id=specialty2) }}">
    <i class="nc-icon nc-calendar-60"></i>
    <p>Interview Invites</p>
  </a>
</li>
<li>
  <a href="{{ url_for('main.interview_impressions', id=specialty2) }}">
    <i class="nc-icon nc-tie-bow"></i>
    <p>Interview Impressions</p>
  </a>
</li>
<li class="">
  <a href="{{ url_for('main.chat', id=specialty2) }}">
    <i class="nc-icon nc-chat-33"></i>
    <p>Chat</p>
  </a>
</li>
<li class="active">
  <a href="{{ url_for('main.threads', specialty_id=specialty2) }}">
    <i class="nc-icon nc-bank"></i>
    <p>Forum</p>
  </a>
</li>
<li>
  <a href="{{ url_for('main.index') }}">
    <i class="nc-icon nc-minimal-right"></i>
    <p>Change Specialty</p>
  </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<style>
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}
</style>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <a data-toggle="collapse" href="#whatsthis"><i class="fa fa-question-circle"></i> What's This?</a>
          <div class="collapse" id="whatsthis">
            <p>Below you will find data from the Applicant Chat portion of the /r/medicalschool spreadsheets. Open individual threads to see responding posts.</p>
            <p>Data is extracted from previous Reddit /r/medicalschool spreadsheets as well as supplied by other users of residencymatch.app. Anyone can add their own data, but only moderators can edit or remove anyone's data. This allows information to be organized and relatively immune to trolling. Data created by "Wavegate" means they are added automatically by me from previous spreadsheet data.</p>
            <p>You can log in to add or reply to threads.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <!--<table  id="table"></table>-->
                <div class="table">
                    <table id="program_table" class="table" data-toggle="table" data-search="true" data-pagination="true" data-show-columns="true" data-mobile-responsive="true">
                        <thead class="text-primary">
                            <th data-sortable="true" data-field="1">User</th>
                            <th data-sortable="true" data-field="2">Title</th>
                            <th data-sortable="true" data-field="3">Post</th>
                            <th data-sortable="false" data-field="4">Reply Count</th>
                        </thead>
                        <tbody>
                            {% for thread in threads %}
                            {% include '_thread.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
          <nav aria-label="...">
           <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
             <a href="{{ prev_url or '#' }}" class="page-link">
              <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
            </a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
           <a href="{{ next_url or '#' }}" class="page-link">
            {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% if not current_user.is_anonymous %}
    <a href="{{ url_for('main.new_thread', specialty_id=specialty.id) }}" class="btn btn-primary">New Thread</a>
    {% else %}
    <p>Please log in to post.</p>
    {% endif %}
  </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}